<div class="header">
    <div class="row">
        <div class="columns">
            <div class="header-wrapper">
                <h3>My Feed</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns">
        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5"
            infinite-scroll="myFeed.loadMore()" infinite-scroll-disabled = "myFeed.loading">
            <li class="thumb-wrapper" ng-repeat="media in myFeed.data track by media.id">
                <thumbnail media="media"></thumbnail>
            </li>
        </ul>
    </div>
    <div class="columns small-12 text-center margin-from-header" ng-if="myFeed.loading">
        <i class="fa fa-spinner fa-spin fa-2x alternate"></i>
    </div>
</div>